@font-face { font-family: 'Josefin';       src:url('../fonts/JosefinSans-Regular.ttf'); }

body {
    background-color: white;
    font-family: 'Josefin'; 
    font-size: 24px;
    /*text-shadow: 2px 2px #ff0000;*/
}


.artwork {
    background-image:url(../assets/artwork.jpg);
}

.trees {
    background-image:url(../assets/trees.jpg);
}

.night_sky {
    background-image:url(../assets/night_sky.jpg);
}

.blue_clouds {
    background-image:url(../assets/blue_clouds.jpg);
}

.orange_clouds {
    background-image:url(../assets/orange_clouds.jpg);
}

.water {
    background-image:url(../assets/water.jpg);
}


#frame {
    position:absolute;
    top:7px;
    left:7px;
    bottom:7px;
    right:7px;
 

       /*
    -webkit-border-image: url(../assets/heart_border.png) 15 round; 
    -o-border-image: url(../assets/heart_border.png) 15 round; 
    border-image: url(../assets/heart_border.png) 15 round;
     */
}

.box {
        position:absolute; 
    /*
            border:solid;
    border-width: 15px;
    border-color: white;
    -webkit-border-image: url(../assets/heart_border.png) 15 round; 
    -o-border-image: url(../assets/heart_border.png) 15 round; 
    border-image: url(../assets/heart_border.png) 15 round;
     */
}

.innerBox {
    position:absolute;
    display: none;
    top : 7px;
    bottom: 7px;
    right : 7px;
    left:7px;
	overflow:hidden;
}

.endBox .innerBox {
    display: block;
}

.content {
    position:absolute;
    display: none;
    top : 0px;
    bottom: 0px;
    right : 0px;
    left:0px;   
}

.innerBox .content {
    display: block;
}

.left {
    height:100%;
}

.right {
    height:100%;
    right:0;
}

.top {
    width:100%;
    top:0;
}

.bottom {
    width:100%;
    bottom:0;
}

.transition {
    -webkit-transition: all 5s ease 0s;
    -moz-transition: all 5s ease 0s;
    -ms-transition: all 5s ease 0s;
    -o-transition: all 5s ease 0s;
    transition: all 5s ease 0s;
}


#closeButton {
    height: 40px;
    width: 40px;
    position:absolute;
    padding-top:6px;
    padding-left:10px;
    right:0px;
    font-size:30px;
    z-index:20;
}